<table class="table">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each orders}}
        <tr class="table-active">
            <td> {{orderId}} </td>
            <td> {{orderDate}}</td>
            <td> {{customerId}}</td>
            <td> {{firstName}}&nbsp{{lastName}} </td>
            <td> ${{fixed totalAmount 2}} </td>
            <td>{{#if shipped}}Shipped{{else}}Pending{{/if}}</td>
            <td>
                <a class="btn btn-primary {{#if shipped}}disabled{{/if}}" href="/ship?orderId={{orderId}}">Ship</a>
            </td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {{#each this.products}}
            <tr>
                <td></td>
                <td></td>
                <td> {{productId}}</td>
                <td> {{quantity}}</td>
                <td> {{fixed price 2}}</td>
                <td></td>
                <td></td>
            </tr>
        {{/each}}
    {{/each}}
    </tbody>
</table>
