<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-6">
            <h3>{{product.productName}}</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <img class="img-responsive" src="{{product.productImageURL}}" style="width: 100%">
        </div>

        {{#if product.productImage}}
            <div class="col-md-6">
                <img class="img-responsive" src="/displayimage?id={{product.productId}}" style="width: 100%">
            </div>
        {{/if}}
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <b>Id:</b> {{product.productId}}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <b>Price:</b> ${{fixed product.productPrice 2}}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <b>Description:</b> {{product.productDesc}}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <a href="/addcart?id={{product.productId}}&name={{product.productName}}&price={{product.productPrice}}"
            class="btn btn-outline-primary">Add to Shopping Cart</a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <a href="/review?id={{product.productId}}" class="btn btn-outline-primary">Add a Review</a>

        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <a href="/listprod" class="btn btn-outline-primary">Continue Shopping</a>
        </div>
    </div>
    {{# if reviews}}
        <h3>Reviews</h3>
        <div class="row justify-content-center my-3">
            {{#each reviews}}
                <div class="col-md-12 my-3">
                    <div class="card text-center">
                        <div class="card-header">
                            Rating: {{this.reviewRating}}/5
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{this.enteredName}}</h5>
                            <p class="card-text">{{this.reviewComment}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{this.date}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
<div>
</div>
