<div class="my-3">
    <form class="form-inline my-2 my-lg-0" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="productName">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Image</th>
        <th class="col">Product&nbspName</th>
        <th>Price</th>
        <th>Action</th>
        <th>Review</th>
    </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{addOne @index}}</td>
                <td><img src="/{{productImageURL}}" alt="image" height="100"/></td>
                <td>
                    <a href="/product?id={{this.productId}}">{{this.productName}}</a>
                </td>
                <td>{{fixed this.productPrice 2}}$</td>
                <td>
                    <a href="/addcart?id={{this.productId}}&name={{this.productName}}&price={{this.productPrice}}" class="btn btn-outline-primary">Add to Shopping Cart</a>
                </td>
                <td>
                    <a href="/review?id={{this.productId}}" class="btn btn-outline-primary">Add a Review</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
